{% extends 'base.html'%}

{% block title%} BAGRO: Terminal{%endblock%}

{%block css %}
<style>
    body{ padding-top: 100px}

</style>
{%endblock%}

{% block content %}
<div class="container-fluid">
      </br>
      <h1 class="text-success">Broadcast Agro</h1>
      <p>Notícias, análises, preços, projeções e ferramentas integradas em uma única solução para apoiar profissionais que atuam no agronegócio, desde o produtor ao trader, com informações relevantes que impactam o preço das commodities.</p>
      <p>Ao se tornar usuário do Broadcast Agro, independentemente do pacote adquirido, as seguintes cotações e funcionalidades estão inclusas:</p>

      <!--Cotações-->
      <div class="container-fluid">
        <div class="row">
        <div class="col-6">
        <p><h4 class="text-success">Cotações</h4></p>
        <ul>
          <p><b><ins>Ações</ins> - </b><font size="2">BOVESPA, NYSE, NYSE Amex, Nasdaq, Bolsa de Madri e Índices Mundiais<font color="red">¹</font>.</font></p>
          <p><b><ins>Derivativos</ins> - </b><font size="2">BM&F, CME, CBOT, NYMEX, COMEX, ICE US e  ICE Europe.</font></p>
          <p><b><ins>Câmbio</ins> - </b><font size="2">Taxas Broadcast, Principais Moedas Spot (USD), PTAX e mais de 20 Contribuidores<font color="red">²</font>.</font></p>
          <p><b><ins>Commodities</ins> - </b><font size="2">Indicadores CEPEA, </font></p>
          <p><b><ins>Renda Fixa</ins> - </b><font size="2">Taxas de Títulos Públicos Broadcast, Anbima e mais de 10 Contribuidores<font color="red">³</font>.</font></p>
          <p><b><ins>Fundos</ins> - </b><font size="2">Imobiliários BM&F Bovespa.</font></p>
          <p><b><ins>Taxas e Indicadores</ins> - </b><font size="2">Inflação, Juros, Poupança e Balança Comercial (Brasil).</font></p>
        </ul>
        <ul>
        <sub><a href="#">¹ Acessar Lista de Índices</a></sub></br>
        <sub><a href="contribuidores.html#headingTwo">² Acessar Lista de Contribuidores Câmbio</a></sub></br>
        <sub><a href="contribuidores.html">³ Acessar Lista de Contribuidores R.Fixa</a></sub></br>
        </ul>
        </div>

      <!--Fim Cotações-->
      <!--Funcionalidades-->

        <div class="col-6">
      <p><h4 class="text-success">Funcionalidades</h4></p>
        <ul>
        <p><b><ins>Prinpais Ferramentas</ins> - </b><font size="2">Janela e painel de cotações, livro de ofertas, times & trades, players, ativoteca e busca de notícias.</font></p>
        <p><b><ins>Análise Técnica</ins> - </b><font size="2">Estudos, Traçados e acesso à Base de Dados com histórico de ativos.</font></p>
        <p><b><ins>AE Chat</ins> - </b><font size="2">Mensageria instantênea.</font></p>
        <p><b><ins>Link com Excel</ins> - </b><font size="2">Tempo real e Histórico.</font></p>
        <p><b><ins>Alertas</ins> - </b><font size="2">Cotações e Notícias.</font></p>
        <p><b><ins>Precificação de opções</ins></b></p>
        <p><b><ins>Calculadora de Títulos Públicos</ins></b></p>
        <p><b><ins>Dados Macroeconômicos</ins></b></p>
         </ul>
       </div>
     </div>
      </div>
      <!--Fim Funcionalidades-->
      <!--Pacotes-->

      <div class="container">
        <p><h4>Pacotes</h4></p>
      </div>

      <!--Accordion wrapper-->
      <div class="accordion md-accordion" id="accordionPacotes" role="tablist" aria-multiselectable="true">
          <!-- Accordion card -->
          <div class="card">
          <!-- Card header -->
          <div class="card-header" role="tab" id="headingTrade">
            <a data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseTrade" aria-expanded="false" aria-controls="collapseTrade">
              <h5 class="mb-0 text-success">
                Broadcast Agro Trade <span style="float: right"> R$430</span>
              </h5>
            </a>
          </div>
          <!-- Card body -->
          <div id="collapseTrade" class="collapse" role="tabpanel" aria-labelledby="headingTrade" data-parent="#accordionPacotes">
            <div class="card-body">
              <strong>Notícias</strong>
              <ul>
                <li>Conjuntura & Negócios</li>
                <li>Newspaper</li>
                <li>Broadcast TV</li>
                <li>Relatórios de Research</li>
                <li>Estadão (Economia, Jornal Digital)</li>
                <li>Contribuidores - Agência Bovespa, CETIP, STJ, PR Newswire, CNA/Senar, CEAGESP</li>
                <li>Releases</li>
              </ul>
            </div>
          </div>

        </div>
        <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingConj">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseConj" aria-expanded="false" aria-controls="collapseConj">
        <h5 class="mb-0 text-success"">
          Broadcast Agro<span style="float: right"> R$900</span><i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseConj" class="collapse" role="tabpanel" aria-labelledby="headingConj" data-parent="#accordionPacotes">
      <div class="card-body">
        <p><strong>Broadcast Agro Trade (+)</strong></p>
        <ul>
          <strong>Cotações</strong>
          <ul class="a">
            <li>CDS (Credit Default Swap) - Índice Markit</li>
          </ul>
          <strong>Notícias</strong>
          <ul class="a">
            <li>Conjuntura & Finanças</li>
            <li>Estadão (Política, Finanças)</li>
          </ul>
        </ul>
      </div>
    </div>

  </div>

  </div>

      <!--Fim Pacotes-->
</div>

{% endblock %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style> 
    ul.a {list-style-type: disc;}
    </style>

    <title>PPP - Broadcast</title>

  </head>
  <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Início</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="bcpro.html">Brodcast+</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="bcagro.html">Broadcast Agro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Broadcast Político</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOutrosProdutos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outros Produtos
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownOutrosProdutos">
                <a class="dropdown-item" href="portfolio-1-col.html">Broadcast Web</a>
                <a class="dropdown-item" href="portfolio-2-col.html">Broadcast Trading News</a>
                <a class="dropdown-item" href="portfolio-3-col.html">Broadcast Wallboard</a>
                <a class="dropdown-item" href="portfolio-4-col.html">Broadcast DataFeed</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDemaisServiços" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Demais Serviços
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDemaisServiços">
                <a class="dropdown-item" href="#">Módulos</a>
                <a class="dropdown-item" href="#">Bolsas</a>
                <a class="dropdown-item" href="#">Notíciosos</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Hello, world!</h1>
    <div class="container-fluid">
      </br>
      <h1 class="text-success">Broadcast Agro</h1>
      <p>Notícias, análises, preços, projeções e ferramentas integradas em uma única solução para apoiar profissionais que atuam no agronegócio, desde o produtor ao trader, com informações relevantes que impactam o preço das commodities.</p>
      <p>Ao se tornar usuário do Broadcast Agro, independentemente do pacote adquirido, as seguintes cotações e funcionalidades estão inclusas:</p>

      <!--Cotações-->
      <div class="container-fluid">
        <div class="row">
        <div class="col-6"> 
        <p><h4 class="text-success">Cotações</h4></p>
        <ul>
          <p><b><ins>Ações</ins> - </b><font size="2">BOVESPA, NYSE, NYSE Amex, Nasdaq, Bolsa de Madri e Índices Mundiais<font color="red">¹</font>.</font></p>
          <p><b><ins>Derivativos</ins> - </b><font size="2">BM&F, CME, CBOT, NYMEX, COMEX, ICE US e  ICE Europe.</font></p>
          <p><b><ins>Câmbio</ins> - </b><font size="2">Taxas Broadcast, Principais Moedas Spot (USD), PTAX e mais de 20 Contribuidores<font color="red">²</font>.</font></p>
          <p><b><ins>Commodities</ins> - </b><font size="2">Indicadores CEPEA, </font></p>
          <p><b><ins>Renda Fixa</ins> - </b><font size="2">Taxas de Títulos Públicos Broadcast, Anbima e mais de 10 Contribuidores<font color="red">³</font>.</font></p>
          <p><b><ins>Fundos</ins> - </b><font size="2">Imobiliários BM&F Bovespa.</font></p>
          <p><b><ins>Taxas e Indicadores</ins> - </b><font size="2">Inflação, Juros, Poupança e Balança Comercial (Brasil).</font></p>
        </ul>
        <ul>
        <sub><a href="#">¹ Acessar Lista de Índices</a></sub></br>
        <sub><a href="contribuidores.html#headingTwo">² Acessar Lista de Contribuidores Câmbio</a></sub></br>
        <sub><a href="contribuidores.html">³ Acessar Lista de Contribuidores R.Fixa</a></sub></br>
        </ul>
        </div>
      
      <!--Fim Cotações-->
      <!--Funcionalidades-->
     
        <div class="col-6"> 
      <p><h4 class="text-success">Funcionalidades</h4></p>
        <ul>
        <p><b><ins>Prinpais Ferramentas</ins> - </b><font size="2">Janela e painel de cotações, livro de ofertas, times & trades, players, ativoteca e busca de notícias.</font></p>
        <p><b><ins>Análise Técnica</ins> - </b><font size="2">Estudos, Traçados e acesso à Base de Dados com histórico de ativos.</font></p>
        <p><b><ins>AE Chat</ins> - </b><font size="2">Mensageria instantênea.</font></p>
        <p><b><ins>Link com Excel</ins> - </b><font size="2">Tempo real e Histórico.</font></p>
        <p><b><ins>Alertas</ins> - </b><font size="2">Cotações e Notícias.</font></p>
        <p><b><ins>Precificação de opções</ins></b></p>
        <p><b><ins>Calculadora de Títulos Públicos</ins></b></p>
        <p><b><ins>Dados Macroeconômicos</ins></b></p>
         </ul>
       </div>
     </div>
      </div>
      <!--Fim Funcionalidades-->
      <!--Pacotes-->

      <div class="container">
        <p><h4>Pacotes</h4></p>
      </div>

      <!--Accordion wrapper-->
      <div class="accordion md-accordion" id="accordionPacotes" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card">

          <!-- Card header -->
          <div class="card-header" role="tab" id="headingTrade">
            <a data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseTrade" aria-expanded="false" aria-controls="collapseTrade">
              <h5 class="mb-0 text-success">
                Broadcast Agro Trade <span style="float: right"> R$430</span><i class="fa fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>

          <!-- Card body -->
          <div id="collapseTrade" class="collapse show" role="tabpanel" aria-labelledby="headingTrade" data-parent="#accordionPacotes">
            <div class="card-body">
              <strong>Notícias</strong>
              <ul>
                <li>Conjuntura & Negócios</li>
                <li>Newspaper</li>
                <li>Broadcast TV</li>
                <li>Relatórios de Research</li>
                <li>Estadão (Economia, Jornal Digital)</li>
                <li>Contribuidores - Agência Bovespa, CETIP, STJ, PR Newswire, CNA/Senar, CEAGESP</li>
                <li>Releases</li>
              </ul>
            </div>
          </div>

        </div>
        <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingConj">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseConj" aria-expanded="false" aria-controls="collapseConj">
        <h5 class="mb-0 text-success"">
          Broadcast Agro<span style="float: right"> R$900</span><i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseConj" class="collapse" role="tabpanel" aria-labelledby="headingConj" data-parent="#accordionPacotes">
      <div class="card-body">
        <p><strong>Broadcast Agro Trade (+)</strong></p>
        <ul>
          <strong>Cotações</strong>
          <ul class="a">
            <li>CDS (Credit Default Swap) - Índice Markit</li>
          </ul>
          <strong>Notícias</strong>
          <ul class="a">
            <li>Conjuntura & Finanças</li>
            <li>Estadão (Política, Finanças)</li>
          </ul>
        </ul>
      </div>
    </div>

  </div>
  <!-- Accordion card -->


  <!-- Accordion card -->


  <!-- Accordion card -->

  </div>
<!-- Accordion wrapper -->
      <!--Fim Pacotes-->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>