{% extends 'base.html'%}

{% block title%} BPRO: Terminal{%endblock%}

{%block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='css/bcpro.css')}}">
{%endblock%}

{% block content %}
    <div>
    <div class="container-fluid">
        </br>
      <h1 class="text-primary">Broadcast+</h1>
      <p>Produto orientado ao mercado financeiro profissional, com informações e conteúdo analítico que permite a monitoração das movitações dos mercados nacionais e internacionais, avaliando as tendências e os riscos inerentes antes de tomar uma decisão.</p>
      <p>Ao se tornar usuário do Broadcast+, independentemente do pacote adquirido, as seguintes cotações e funcionalidades estão inclusas:</p>

      <!--Cotações-->
      <div class="container-fluid">
        <div class="row">
        <div class=col-6>
        <p><h4 class="text-primary">Cotações</h4></p>
        <ul>
          <p><b><ins>Ações</ins> - </b><font size="2">BOVESPA, NYSE, NYSE Amex, Nasdaq, Bolsa de Madri e Índices Mundiais<font color="red">¹</font>.</font></p>
          <p><b><ins>Derivativos</ins> - </b><font size="2">BM&F, CME, CBOT, NYMEX, COMEX, ICE US e  ICE Europe.</font></p>
          <p><b><ins>Câmbio</ins> - </b><font size="2">Taxas Broadcast, Principais Moedas Spot (USD), PTAX e mais de 20 Contribuidores<font color="red">²</font>.</font></p>
          <p><b><ins>Commodities</ins> - </b><font size="2">Indicadores CEPEA.</font></p>
          <p><b><ins>Renda Fixa</ins> - </b><font size="2">Taxas de Títulos Públicos Broadcast, Anbima e mais de 10 Contribuidores<font color="red">³</font>.</font></p>
          <p><b><ins>Fundos</ins> - </b><font size="2">Imobiliários BM&F Bovespa.</font></p>
          <p><b><ins>Taxas e Indicadores</ins> - </b><font size="2">Inflação, Juros, Poupança e Balança Comercial (Brasil).</font></p>
        </ul>
        <ul>
        <sub><a href="#">¹ Acessar Lista de Índices</a></sub></br>
        <sub><a href="contribuidores.html#headingTwo">² Acessar Lista de Contribuidores Câmbio</a></sub></br>
        <sub><a href="contribuidores.html">³ Acessar Lista de Contribuidores R.Fixa</a></sub></br>
        </ul>
        </div>

      <!--Fim Cotações-->
      <!--Funcionalidades-->

        <div class=col-6>
      <p><h4 class="text-primary">Funcionalidades</h4></p>
        <ul>
        <p><b><ins>Prinpais Ferramentas</ins> - </b><font size="2">Janela e painel de cotações, livro de ofertas, times & trades, players, ativoteca e busca de notícias.</font></p>
        <p><b><ins>Análise Técnica</ins> - </b><font size="2">Estudos, Traçados e acesso à Base de Dados com histórico de ativos.</font></p>
        <p><b><ins>AE Chat</ins> - </b><font size="2">Mensageria instantênea.</font></p>
        <p><b><ins>Link com Excel</ins> - </b><font size="2">Tempo real e Histórico.</font></p>
        <p><b><ins>Alertas</ins> - </b><font size="2">Cotações e Notícias.</font></p>
        <p><b><ins>Precificação de opções</ins></b></p>
        <p><b><ins>Calculadora de Títulos Públicos</ins></b></p>
        <p><b><ins>Dados Macroeconômicos</ins></b></p>
         </ul>
       </div>
     </div>
      </div>
      <!--Fim Funcionalidades-->
      <!--Pacotes-->

      <div class="container">
        <p><h4>Pacotes</h4></p>
      </div>

      <!--Pacotes-->
      <div class="accordion md-accordion" id="accordionPacotes" role="tablist" aria-multiselectable="true">

          <!--Pacote Trade-->
          <div class="card">
            <!-- Card header -->
              <div class="card-header " role="tab" id="headingTrade">
                <a data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseTrade" >
                  <h5 class="mb-0">
                    Broadcast Trade <span style="float: right"> R$280</span>
                  </h5>
                </a>
              </div>
            <!-- Card body -->
              <div id="collapseTrade" class="collapse" role="tabpanel" aria-labelledby="headingTrade" data-parent="#accordionPacotes">
                <div class="card-body">
                  <strong>Notícias</strong>
                  <ul>
                    <li>Conjuntura & Negócios</li>
                    <li>Newspaper</li>
                    <li>Broadcast TV</li>
                    <li>Relatórios de Research</li>
                    <li>Estadão (Economia, Jornal Digital)</li>
                    <li>Contribuidores - Agência Bovespa, CETIP, STJ, PR Newswire, CNA/Senar, CEAGESP</li>
                    <li>Releases</li>
                  </ul>
                  <strong>Add-ons Disponíveis para Contratação</strong>
                  <ul>
                    <li><a href="#">(BC-14167) - Análise Fundamentalista - Capital Aberto</a></li>
                    <li><a href="#">(BC-19724) - Análise Fundamentalista - Capital Aberto e Fechado</a></li>
                    <li><a href="#">(BC-14166) - Fundos de Investimentos</a></li>
                    <li><a href="#">(BC-)</a></li>
                  </ul>
                </div>
              </div>
          </div>

          <!-- Pacote Conjuntura -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingConj">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseConj" aria-expanded="false" aria-controls="collapseConj">
                  <h5 class="mb-0">
                    Broadcast Conjuntura<span style="float: right"> R$460</span><i class="fa fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseConj" class="collapse" role="tabpanel" aria-labelledby="headingConj" data-parent="#accordionPacotes">
                <div class="card-body">
                  <p><strong>Broadcast Trade (+)</strong></p>
                  <ul>
                    <strong>Cotações</strong>
                    <ul class="a">
                      <li>CDS (Credit Default Swap) - Índice Markit</li>
                    </ul>
                    <strong>Notícias</strong>
                    <ul class="a">
                      <li>Conjuntura & Finanças</li>
                      <li>Estadão (Política, Finanças)</li>
                    </ul>
                  </ul>
                </div>
              </div>
          </div>

          <!-- Pacote Mercados -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingMerc">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseMerc" aria-expanded="false" aria-controls="collapseMerc">
                  <h5 class="mb-0">
                    Broadcast Mercados <span style="float: right"> R$770</span><i class="fa fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseMerc" class="collapse" role="tabpanel" aria-labelledby="headingMerc" data-parent="#accordionPacotes">
                <div class="card-body">
                  <p><strong>Broadcast Conjuntura (+)</strong></p>
                  <ul>
                    <strong>Cotações</strong>
                    <ul class="a">
                      <li>Câmbio - Todas as Paridades e Forward</li>
                      <li>Commodities - Metais, FOB/Exportação</li>
                      <li>Renda Fixa - Treasuries, Títulos Soberanos G7 e LatAm, Contribuidores</li>
                      <li>Taxas e Indicadores - Juros/Moedas dos BC Mundiais, moedas BNDES, Índices Anbima</li>
                    </ul>
                    <strong>Notícias</strong>
                    <ul class="a">
                      <li>Empresas & Setores</li>
                    </ul>
                  </ul>
                </div>
              </div>
          </div>

          <!-- Pacotes News -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingNews">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseNews" aria-expanded="false" aria-controls="collapseNews">
                  <h5 class="mb-0">
                    Broadcast News <span style="float: right"> R$1500</span><i class="fa fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseNews" class="collapse" role="tabpanel" aria-labelledby="headingNews" data-parent="#accordionPacotes">
                <div class="card-body">
                  <p><strong>Broadcast Mercados (+)</strong></p>
                  <ul>
                  <strong>Notícias</strong>
                        <ul class="a">
                          <li>AE News</li>
                          <li>Top News</li>
                          <li>Newspaper (E-mail/PDF)</li>
                          <li>Colunistas Broadcast e Estadão</li>
                          <li>AE Projeções</li>
                          <li>Análises e Cenários Empresas & Setores</li>
                          <li>Artigos</li>
                        </ul>
                    </ul>
                </div>
              </div>
          </div>

          <!-- Pacote Analises -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingAnalise">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseAnalise" aria-expanded="false" aria-controls="collapseAnalise">
                  <h5 class="mb-0">
                    Broadcast Análises <span style="float: right"> R$2500</span><i class="fa fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseAnalise" class="collapse" role="tabpanel" aria-labelledby="headingAnalise" data-parent="#accordionPacotes">
                <div class="card-body">
                  <p><strong>Broadcast News (+)</strong></p>
                  <ul>
                    <strong>Add-ons Inclusos</strong>
                    <ul class="a">
                      <li><a href="#">Análise Fundamentalista</a></li>
                      <li><a href="#">Fundos de Investimento</a></li>
                      <li><a href="#">Agro</a></li>
                      <li><a href="#">Político</a></li>
                    </ul>
                  </ul>
                </div>
              </div>
          </div>
      </div>
      <!--Fim Pacotes-->
    </div>
    </div>
{% endblock %}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/bcpro.js"></script>

{%endblock%}
