{% extends 'base.html'%}

{% block title%} BPRO: Terminal{%endblock%}

{%block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='css/bcpro.css')}}">
{%endblock%}

{% block content %}
    <div>
    <div class="container-fluid">
      <img style="text-align: center;" src="../static/img/LOGO-BC-Financeiro.png">
      
      <p>O Broadcast Profissional é uma plataforma de informações em tempo real que reúne dados, cotações, notícias e análises sobre os principais mercados nacionais e internacionais. A combinação das redações da Agência Estado e do Estadão, juntamente com uma série de parceiros como consultorias especializadas e analistas de mercado trazem informações sobre acontecimentos no Brasil e no mundo em tempo real com exclusividade para os seus leitores, permitindo um acompanhamento qualificado dos eventos que impactam a volatilidade dos principais setores da economia com uma linguagem objetiva e concisa</p>
      <p>Ao se tornar usuário do Broadcast+, independentemente do pacote adquirido, as seguintes cotações e funcionalidades estão inclusas:</p>

      <!--Cotações-->
      <div class="container-fluid">
        <div class="row">
        <div class=col-6>
        <p><h4 class="text-primary">Cotações</h4></p>
        <ul>
          <p><b><ins>Ações</ins> - </b><font size="2">BOVESPA, NYSE, NYSE Amex, Nasdaq, Bolsa de Madri e Índices Mundiais<font color="red">¹</font>.</font></p>
          <p><b><ins>Derivativos</ins> - </b><font size="2">BM&F, CME, CBOT, NYMEX, COMEX, ICE US e  ICE Europe.</font></p>
          <p><b><ins>Câmbio</ins> - </b><font size="2">Taxas Broadcast, Principais Moedas Spot (USD), PTAX e mais de 20 Contribuidores<font color="red">²</font>.</font></p>
          <p><b><ins>Commodities</ins> - </b><font size="2">Indicadores CEPEA.</font></p>
          <p><b><ins>Renda Fixa</ins> - </b><font size="2">Taxas de Títulos Públicos Broadcast, Anbima e mais de 10 Contribuidores<font color="red">³</font>.</font></p>
          <p><b><ins>Fundos</ins> - </b><font size="2">Imobiliários BM&F Bovespa.</font></p>
          <p><b><ins>Taxas e Indicadores</ins> - </b><font size="2">Inflação, Juros, Poupança e Balança Comercial (Brasil).</font></p>
        </ul>
        <ul>
        <sub><a href="#">¹ Acessar Lista de Índices</a></sub></br>
        <sub><a href="contribuidores.html#headingTwo">² Acessar Lista de Contribuidores Câmbio</a></sub></br>
        <sub><a href="contribuidores.html">³ Acessar Lista de Contribuidores R.Fixa</a></sub></br>
        </ul>
        </div>

      <!--Fim Cotações-->
      <!--Funcionalidades-->

        <div class=col-6>
      <p><h4 class="text-primary">Funcionalidades</h4></p>
        <ul>
        <p><b><ins>Prinpais Ferramentas</ins> - </b><font size="2">Janela e painel de cotações, livro de ofertas, times & trades, players, ativoteca e busca de notícias.</font></p>
        <p><b><ins>Análise Técnica</ins> - </b><font size="2">Estudos, Traçados e acesso à Base de Dados com histórico de ativos.</font></p>
        <p><b><ins>AE Chat</ins> - </b><font size="2">Mensageria instantênea.</font></p>
        <p><b><ins>Link com Excel</ins> - </b><font size="2">Tempo real e Histórico.</font></p>
        <p><b><ins>Alertas</ins> - </b><font size="2">Cotações e Notícias.</font></p>
        <p><b><ins>Precificação de opções</ins></b></p>
        <p><b><ins>Calculadora de Títulos Públicos</ins></b></p>
        <p><b><ins>Dados Macroeconômicos</ins></b></p>
         </ul>
       </div>
     </div>
      </div>
      <!--Fim Funcionalidades-->
      <!--Pacotes-->
      <h4>Pacotes:</h4>
      <!--Pacotes-->
      <div class="accordion md-accordion" id="accordionPacotes" role="tablist" aria-multiselectable="true">

          <!--Pacote Trade-->
          <div class="card">
            <!-- Card header -->
              <div class="card-header " role="tab" id="headingTrade">
                <a id="pctTrade" onclick="pctTrade()" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseTrade" >
                  <h6 class="mb-0">
                    Broadcast Trade <span style="float: right"> R$280</span><i id="iconTrade" class="fa fa-angle-down"></i>
                  </h6>
                </a>
              </div>
            <!-- Card body -->
              <div id="collapseTrade" class="collapse" role="tabpanel" aria-labelledby="headingTrade" data-parent="#accordionPacotes">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-desc-trade-tab" data-toggle="pill" href="#pills-desc-trade" role="tab" aria-controls="pills-home" aria-selected="true">Descrição</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-pganhos-trade-tab" data-toggle="pill" href="#pills-pganhos-trade" role="tab" aria-controls="pills-profile" aria-selected="false">Principais Ganhos</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-desc-trade" role="tabpanel" aria-labelledby="pills-desc-trade-tab">...</div>
                      <div class="tab-pane fade" id="pills-pganhos-trade" role="tabpanel" aria-labelledby="pills-pganhos-trade-tab">
                          <strong>Notícias</strong>
                          <ul>
                            <li>Conjuntura & Negócios</li>
                            <li>Newspaper</li>
                            <li>Broadcast TV</li>
                            <li>Relatórios de Research</li>
                            <li>Estadão (Economia, Jornal Digital)</li>
                            <li>Contribuidores - Agência Bovespa, CETIP, STJ, PR Newswire, CNA/Senar, CEAGESP</li>
                            <li>Releases</li>
                          </ul>
                          <strong>Add-ons Disponíveis para Contratação</strong>
                          <ul>
                            <li><a href="#">(BC-14167) - Análise Fundamentalista - Capital Aberto</a></li>
                            <li><a href="#">(BC-19724) - Análise Fundamentalista - Capital Aberto e Fechado</a></li>
                            <li><a href="#">(BC-14166) - Fundos de Investimentos</a></li>
                            <li><a href="#">(BC-)</a></li>
                          </ul>
                      </div>
                    </div>
                  
                  <!--
                  <strong>Notícias</strong>
                  <ul>
                    <li>Conjuntura & Negócios</li>
                    <li>Newspaper</li>
                    <li>Broadcast TV</li>
                    <li>Relatórios de Research</li>
                    <li>Estadão (Economia, Jornal Digital)</li>
                    <li>Contribuidores - Agência Bovespa, CETIP, STJ, PR Newswire, CNA/Senar, CEAGESP</li>
                    <li>Releases</li>
                  </ul>
                  <strong>Add-ons Disponíveis para Contratação</strong>
                  <ul>
                    <li><a href="#">(BC-14167) - Análise Fundamentalista - Capital Aberto</a></li>
                    <li><a href="#">(BC-19724) - Análise Fundamentalista - Capital Aberto e Fechado</a></li>
                    <li><a href="#">(BC-14166) - Fundos de Investimentos</a></li>
                    <li><a href="#">(BC-)</a></li>
                  </ul>
                -->
                </div>
              </div>
          </div>

          <!-- Pacote Conjuntura -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingConj">
                <a id="pctConjutura" onclick="pctConjuntura()" class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseConj" aria-expanded="false" aria-controls="collapseConj">
                  <h6 class="mb-0">
                    Broadcast Conjuntura <span style="float: right"> R$460</span><i id="iconConjuntura" class="fa fa-angle-down"></i>
                  </h6>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseConj" class="collapse" role="tabpanel" aria-labelledby="headingConj" data-parent="#accordionPacotes">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-desc-conjuntura-tab" data-toggle="pill" href="#pills-desc-conjuntura" role="tab" aria-controls="pills-home" aria-selected="true">Descrição</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-pganhos-conjuntura-tab" data-toggle="pill" href="#pills-pganhos-conjuntura" role="tab" aria-controls="pills-profile" aria-selected="false">Principais Ganhos</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-desc-conjuntura" role="tabpanel" aria-labelledby="pills-desc-conjuntura-tab">
                          <p>Já com notícias em tempo real com foco no mercado financeiro dos principais fatos políticos, econômicos e empresariais que afetam o setor produtivo, o pacote <b>Broadcast Conjuntura</b> oferece os cadernos "Conjuntura e Finanças" e "Conjuntura e Negócios" que realizam uma cobertura completa e intensiva dos mercados de dólar, juros, títulos públicos e dos principais fatos que também  afetam o mercado de capitais. Dando um acompanhamento especializado de indicadores econômicos, inflação, decisões no âmbito político e econômico e cenário internacional.</p>
                          <p>Além de toda a corbertura noticisa, este pacote de conteúdos possui dados em delay das principais Bolsas Mundiais, dados em tempo real de Taxas e Indicadores Macroeconômicos Brasil e internacional, Libor e paridades das principais moedas do mundo, além de dados de contribuição de Grandes Bancos, Corretoras e Assets sobre Câmbio e Renda Fixa. </p>
                          <p><a href="#">Clique aqui</a> para acessar o descritivo completo do pacote.</p>
                      </div>
                      <div class="tab-pane fade" id="pills-pganhos-conjuntura" role="tabpanel" aria-labelledby="pills-pganhos-conjuntura-tab">
                          <p><strong>Broadcast Trade (+)</strong></p>
                          <ul>
                            <strong>Cotações</strong>
                            <ul class="a">
                              <li>CDS (Credit Default Swap) - Índice Markit</li>
                            </ul>
                            <strong>Notícias</strong>
                            <ul class="a">
                              <li>Conjuntura & Finanças</li>
                              <li>Estadão (Política, Finanças)</li>
                            </ul>
                          </ul>
                      </div>
                    </div>
                  <!--
                  <p><strong>Broadcast Trade (+)</strong></p>
                  <ul>
                    <strong>Cotações</strong>
                    <ul class="a">
                      <li>CDS (Credit Default Swap) - Índice Markit</li>
                    </ul>
                    <strong>Notícias</strong>
                    <ul class="a">
                      <li>Conjuntura & Finanças</li>
                      <li>Estadão (Política, Finanças)</li>
                    </ul>
                  </ul>
                  -->
                </div>
              </div>
          </div>

          <!-- Pacote Mercados -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingMerc">
                <a id="pctMercados" onclick="pctMercados()" class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseMerc" aria-expanded="false" aria-controls="collapseMerc">
                  <h6 >
                    Broadcast Mercados <span style="float: right"> R$770</span><i id="iconMercados" class="fa fa-angle-down"></i>
                  </h6>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseMerc" class="collapse" role="tabpanel" aria-labelledby="headingMerc" data-parent="#accordionPacotes">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-desc--mercadostab" data-toggle="pill" href="#pills-desc-mercados" role="tab" aria-controls="pills-home" aria-selected="true">Descritivo</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-pganhos--mercadostab" data-toggle="pill" href="#pills-pganhos-mercados" role="tab" aria-controls="pills-profile" aria-selected="false">Principais Ganhos</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-desc-mercados" role="tabpanel" aria-labelledby="pills-desc-mercados-tab">
                          <p>Com entrevistas exclusivas e reportagens especiais sobre decisões e bastidores, antecipação e divulgação dos principais fatos sobre as empresas de capital aberto, incluindo operações de fusões e aquisições, planos de investimentos, balanços, fatos relevantes, dividendos, reestruturação, emissões de dívidas e desempenho das ações. O pacote <b>Broadcast Mercados</b> trás notícias, análises e cenários das empresas listadas na B3 e dos principais setores da economia brasileira.</p>
                          <p>Além de toda a corbertura noticisa, este pacote  contempla também dados em Delay das principais Bolsas Mundiais, dados em tempo real de Taxas e Indicadores Macroeconômicos Brasil e internacional, Preços Fisicos e Indicadores calculados pelo CEPEA,  Libor e mais de 2.000 paridades de moedas do mundo, além dados de contribuição de Grandes Bancos, Corretoras e Assets sobre Câmbio e Renda Fixa.</p>
                          <p><a href="#">Clique aqui</a> para acessar o descritivo completo do pacote.</p>
                        </div>
                      <div class="tab-pane fade" id="pills-pganhos-mercados" role="tabpanel" aria-labelledby="pills-pganhos-mercados-tab">
                          <p><strong>Broadcast Conjuntura (+)</strong></p>
                          <ul>
                            <strong>Cotações</strong>
                            <ul class="a">
                              <li>Câmbio - Todas as Paridades e Forward</li>
                              <li>Commodities - Metais, FOB/Exportação</li>
                              <li>Renda Fixa - Treasuries, Títulos Soberanos G7 e LatAm, Contribuidores</li>
                              <li>Taxas e Indicadores - Juros/Moedas dos BC Mundiais, moedas BNDES, Índices Anbima</li>
                            </ul>
                            <strong>Notícias</strong>
                            <ul class="a">
                              <li>Empresas & Setores</li>
                            </ul>
                          </ul>
                      </div>
                    </div>
                  <!--
                  <p><strong>Broadcast Conjuntura (+)</strong></p>
                  <ul>
                    <strong>Cotações</strong>
                    <ul class="a">
                      <li>Câmbio - Todas as Paridades e Forward</li>
                      <li>Commodities - Metais, FOB/Exportação</li>
                      <li>Renda Fixa - Treasuries, Títulos Soberanos G7 e LatAm, Contribuidores</li>
                      <li>Taxas e Indicadores - Juros/Moedas dos BC Mundiais, moedas BNDES, Índices Anbima</li>
                    </ul>
                    <strong>Notícias</strong>
                    <ul class="a">
                      <li>Empresas & Setores</li>
                    </ul>
                  </ul>
                  -->
                </div>
              </div>
          </div>

          <!-- Pacotes News -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingNews">
                <a id="pctNews" onclick="pctNews()" class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseNews" aria-expanded="false" aria-controls="collapseNews">
                  <h6 class="mb-0">
                    Broadcast News <span style="float: right"> R$1500</span><i id="iconNews" class="fa fa-angle-down"></i>
                  </h6>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseNews" class="collapse" role="tabpanel" aria-labelledby="headingNews" data-parent="#accordionPacotes">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-desc-news-tab" data-toggle="pill" href="#pills-desc-news" role="tab" aria-controls="pills-home" aria-selected="true">Descrição</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-pganhos-news-tab" data-toggle="pill" href="#pills-pganhos-news" role="tab" aria-controls="pills-profile" aria-selected="false">Principais Ganhos</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-desc-news" role="tabpanel" aria-labelledby="pills-desc-news-tab">...</div>
                      <div class="tab-pane fade" id="pills-pganhos-news" role="tabpanel" aria-labelledby="pills-pganhos-news-tab">
                          <p><strong>Broadcast Mercados (+)</strong></p>
                          <ul>
                          <strong>Notícias</strong>
                                <ul class="a">
                                  <li>AE News</li>
                                  <li>Top News</li>
                                  <li>Newspaper (E-mail/PDF)</li>
                                  <li>Colunistas Broadcast e Estadão</li>
                                  <li>AE Projeções</li>
                                  <li>Análises e Cenários Empresas & Setores</li>
                                  <li>Artigos</li>
                                </ul>
                            </ul>
                      </div>
                    </div>
                  <!--
                  <p><strong>Broadcast Mercados (+)</strong></p>
                  <ul>
                  <strong>Notícias</strong>
                        <ul class="a">
                          <li>AE News</li>
                          <li>Top News</li>
                          <li>Newspaper (E-mail/PDF)</li>
                          <li>Colunistas Broadcast e Estadão</li>
                          <li>AE Projeções</li>
                          <li>Análises e Cenários Empresas & Setores</li>
                          <li>Artigos</li>
                        </ul>
                    </ul>
                    -->
                </div>
              </div>
          </div>

          <!-- Pacote Analises -->
          <div class="card">
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingAnalise">
                <a id="pctAnalises" onclick="pctAnalises()" class="collapsed" data-toggle="collapse" data-parent="#accordionPacotes" href="#collapseAnalises" aria-expanded="false" aria-controls="collapseAnalise">
                  <h6 class="mb-0">
                    Broadcast Análises <span style="float: right"> R$2500</span><i id="iconAnalises" class="fa fa-angle-down"></i>
                  </h6>
                </a>
              </div>
              <!-- Card body -->
              <div id="collapseAnalises" class="collapse" role="tabpanel" aria-labelledby="headingAnalise" data-parent="#accordionPacotes">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-desc-analises-tab" data-toggle="pill" href="#pills-desc-analises" role="tab" aria-controls="pills-home" aria-selected="true">Descrição</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-pganhos-analises-tab" data-toggle="pill" href="#pills-pganhos-analises" role="tab" aria-controls="pills-profile" aria-selected="false">Principais Ganhos</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-desc-analises" role="tabpanel" aria-labelledby="pills-desc-analises-tab">...</div>
                      <div class="tab-pane fade" id="pills-pganhos-analises" role="tabpanel" aria-labelledby="pills-pganhos-analises-tab">
                          <p><strong>Broadcast News (+)</strong></p>
                          <ul>
                            <strong>Add-ons Inclusos</strong>
                            <ul class="a">
                              <li><a href="#">Análise Fundamentalista</a></li>
                              <li><a href="#">Fundos de Investimento</a></li>
                              <li><a href="#">Agro</a></li>
                              <li><a href="#">Político</a></li>
                            </ul>
                          </ul>
                      </div>
                    </div>
                  <!--
                  <p><strong>Broadcast News (+)</strong></p>
                  <ul>
                    <strong>Add-ons Inclusos</strong>
                    <ul class="a">
                      <li><a href="#">Análise Fundamentalista</a></li>
                      <li><a href="#">Fundos de Investimento</a></li>
                      <li><a href="#">Agro</a></li>
                      <li><a href="#">Político</a></li>
                    </ul>
                  </ul>
                  -->
                </div>
              </div>
          </div>
      </div>
      <!--Fim Pacotes-->
    </div>
    </div>
{% endblock %}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/bcpro.js"></script>

{%endblock%}
