{% extends 'base.html'%}

{% block title%} Cotação{%endblock%}

{%block css %}
<style>
    body{ padding-top: 100px}

</style>
{%endblock%}


{% block content %}
	
<div class="container-fluid">

	<div class="row">
		<div class="col-lg-4"></div>
		<form method="POST" enctype="multipart/form-data">
			{{ form.csrf_token }}
			</br>
			<!--div class="row"><h3>Cotação</h3></div-->
			<!-- TXT Busca e Button-->
			</br>
			<div class="row">
				<div class="col-10"> {{form.txtBusca(class_="form-control")}} </div>
				<div class="col-2"><button type="submit"  class="btn btn-default">Buscar</button></div>

			</div>
			</br>
			<!--Radiobutton tipo de visualização-->
			{% for subfield in  form.rdPesquisaPor %}
				<tr>
					<td>{{subfield}}</td>
					<td>{{subfield.label}}</td>
				</tr>
			{% endfor %}

			</br>

		</form>
	</div>
		<div class="col-12">
			<table id="tb_cot" class="display" style="width:100%">
				<thead>
					<tr>

						<th>Fonte</th>
						<th>Inf. Disponíveis</th>
						<th>Mercados</th>
						<th>Classe dos Ativos</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					{% for x in results %}
					<tr>

						<td>{{x['_id']}}</td>
						<td>
							{% for y in x['inf_dispo']%}
							<a href="{{ url_for('n2', param=x['_id']+'-'+'None'+'-1')}}">{{y}}</a> ,
							{% endfor%}
						</td>
						<td>
							{% for y in x['mercados']%}
							<a href="{{ url_for('n2', param=x['_id']+'-'+y+'-2')}}">{{y}}</a> ,
							{% endfor%}
						</td>
						<td>
							{% for y in x['tp_instr']%}
							<a href="{{ url_for('n2', param=x['_id']+'-'+y+'-3')}}">{{y}}</a> ,
							{% endfor%}
						</td>
						<td> <a href="#">Ver Ativos</a> </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/js/cotacao_v2.js"></script>
{% endblock %}